@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model IEnumerable<OPEN_SKILLS_SOURCE__MVC_PROJECT_.Models.ContactForms>

@{
    ViewData["Title"] = "View Submissions";
}

<h2>Contact Form Submissions</h2>

<table border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Contact No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var submission in Model)
        {
            <tr>
                <td>@submission.ContactNo</td>
                <td>@submission.Name</td>
                <td>@submission.Email</td>
                <td>@submission.Message</td>
            </tr>
        }
    </tbody>
</table>
