@{
    ViewData["Title"] = "Home Page";
}

<!-- Navbar Starts -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">
            <img src="./assets/logo.png" alt="Bootstrap" width="230" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<a href="d:\visual repos\open skills source (mvc project)\open skills source (mvc project)\views\home\index.cshtml">d:\visual repos\open skills source (mvc project)\open skills source (mvc project)\views\home\index.cshtml</a>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="Home/ExploreSkills">Explore Skills</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="Home/HelpFromAI">Help from AI</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="Home/AboutUs">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Contact/Index">Contact Us</a>
                </li>


                <!-- Dark Mode -->
                <li class="nav-item">
                    <div id="darkMode-icon" class="bx bx-moon dark_mode"></div>
                </li>
            </ul>

            <form class="d-flex" role="search" onsubmit="return handleSearch(event)">
                <input class="form-control me-2" type="search" id="searchQuery" placeholder="Search" aria-label="Search"
                       required />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div id="searchResult" class="mt-3"></div>

        </div>
    </div>
</nav>
<!-- Navbar Ends -->
<!-- Main Banner Starts -->
<div class="carousel-inner">
    <div class="carousel-item active">
        <div class="banner_card">
            <h1>
                Learn today’s most popular
                <span id="highlight" style="opacity: 0">Skills</span> with our free
                <span id="underline" style="opacity: 0">Resources.</span>
            </h1>
            <div class="b_btns">
                <a href="/Home/ExploreSkills" style="display: inline;"> <button id="btn1">Explore Skills</button></a>
                <a href="/Home/HelpFromAI" style="display: inline;"> <button id="btn2">Help from AI</button></a>
            </div>
        </div>
        <img src="~/assets/bg.jpg" class="d-block w-100" alt="..." />
    </div>
</div>
<!-- Main Banner Ends -->
<!-- Short Info Section Starts -->
<section>
    <div id="short_info">
        <div id="image_section">
            <img src="./assets/info.png" alt="" />
        </div>

        <div class="info_head">
            <h2>
                Unlock Your Future with Free
                <span id="info_text"> Learning Resources.</span>
            </h2>
        </div>

        <div class="info_p">
            <!-- Info 1 -->
            <div class="info_item">
                <i class="bi bi-check-circle"></i>
                <div>
                    <h3>Personalized Learning Paths</h3>
                    <p>
                        AI-powered recommendations tailored to your interests for a unique learning experience.
                    </p>
                </div>
            </div>
            <div class="info_item">
                <i class="bi bi-check-circle"></i>
                <div>
                    <h3>Comprehensive Course Library</h3>
                    <p>
                        Explore free, curated courses across a wide range of high-growth domains and skills.
                    </p>
                </div>
            </div>
            <!-- Info 2 -->
            <div class="info_item">
                <i class="bi bi-check-circle"></i>
                <div>
                    <h3>All-in-One Resource Hub</h3>
                    <p>
                        Access guides, playlists, and tools to master essential skills and boost your career prospects.
                    </p>
                </div>
            </div>
            <div class="info_item">
                <i class="bi bi-check-circle"></i>
                <div>
                    <h3>Accessible Anytime, Anywhere</h3>
                    <p>
                        Seamlessly learn on your schedule, from any device, at your own pace.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Short Info Section Ends -->
<!-- RECOMMENDATION STARTS -->
<div class="recommend">
    <div class="rec_img">
        <img src="~/assets/recommend.png" alt="" />
    </div>

    <div class="recomend_content">
        <h2>Let’s Find The Right Skill For You!</h2>
        <a href="/Home/HelpFromAI" target="_blank"><button id="rec_btn">Get Recommendations</button></a>
    </div>
</div>
<!-- RECOMMENDATION ENDS -->
<!--Top Trend Skills Starts-->
<section class="top_trend_skills">
    <div class="container">
        <h1>
            Top Trendy <span style="color: #ff5722">Skills</span> to Master in
            2025
        </h1>
        <div class="content">
            <!-- Category Menu -->
            <div class="categories">
                <button class="category-item active" data-target="ai-machine-learning">
                    AI & Machine Learning
                </button>

                <button class="category-item" data-target="data-science">
                    Data Science & Analytics
                </button>
                <button class="category-item" data-target="block-chain">
                    Blockchain Development
                </button>
                <button class="category-item" data-target="cyber-security">
                    Cyber Security
                </button>
                <button class="category-item" data-target="web-dev">
                    Website Development
                </button>
            </div>

            <!-- Courses Section -->
            <div class="courses-container">

                <!-- AI & Machine Learning Courses -->
                <div id="ai-machine-learning" class="courses active">
                    <!--active is keyword hum is course ko bydefault active krry hyn ht ml mei active keyword use krrky aur js mai changes krkry and button category ko b aactive kriengy.. -->
                    <!-- CARD 1 STARTS-->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Generative AI Roadmap</h3>
                            <img src="./assets/gen_ai.png" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 260K Views &nbsp; • &nbsp; 1 Video
                        </p>
                        <ul>
                            <li>Gen AI Introduction</li>
                            <li>AI Tools & Resources</li>
                            <li>How to Learn Gen AI?</li>
                            <li>Gen AI Free Courses</li>
                            <li>How to make Profit from it?</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./AI Full Course By Gen AI.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.youtube.com/watch?v=lv7ka-8FscI&pp=ygUNZ2VuaSBhaSBoYXJyeQ%3D%3D" id="l2"
                               target="_blank">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 1 ENDS -->
                    <!-- CARD 2 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>ML Roadmap 2024</h3>
                            <img src="./assets/ml_roadmap.png" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 456K Views &nbsp; • &nbsp; 1 Videos
                        </p>
                        <ul>
                            <li>Introduction to ML</li>
                            <li>Math & Stats for ML</li>
                            <li>Supervised & Unsupervised Learning</li>
                            <li>ML Algorithms & Models</li>
                            <li>Real-World ML Projects</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./MachineLearning 2024.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.youtube.com/watch?v=AMxtGWcMYd4&pp=ygUKbWwgcm9hZG1hcA%3D%3D" target="_blank"
                               id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 2 ENDS -->
                    <!-- CARD 3 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>AI Full Course by Irfan</h3>
                            <img src="./assets/ai_irfan.png" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 456K Views &nbsp; • &nbsp; 3 Videos
                        </p>
                        <ul>
                            <li>Introduction to AI</li>
                            <li>Machine Learning & Deep Learning</li>
                            <li>Natural Language Processing</li>
                            <li>Computer Vision</li>
                            <li>AI Applications</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./AI full course by Irfan Malik.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.youtube.com/watch?v=3tDE4hDaYgw&list=PLxf3-FrL8GzTIQpnY_UyzDX6JK0_Kbe_t" id="l2"
                               target="_blank">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 3 ENDS -->
                    <!-- CARD 4 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>AI Full Course by Eduraka</h3>
                            <img src="./assets/ai_au.png" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 3M Views &nbsp; • &nbsp; 1 Video
                        </p>
                        <ul>
                            <li>Introduction to AI</li>
                            <li>Machine Learning & Deep Learning</li>
                            <li>Natural Language Processing</li>
                            <li>Computer Vision</li>
                            <li>AI Applications</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./AI Full Course by EDuraka.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.youtube.com/watch?v=JMUxmLyrhSk&pp=ygUQYWkgaXJmYW4gRUR1cmFrYQ%3D%3D" id="l2"
                               target="_blank">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 4 ENDS -->
                    <!-- CARD 5 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>ML Crash Course by Google</h3>
                            <img src="./assets/ml_google.png" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 450K Views &nbsp; • &nbsp; 12 Modules
                        </p>
                        <ul>
                            <li>100+ Excercises</li>
                            <li>15 Hours</li>
                            <li>Real World Example</li>
                            <li>Interactive Visualization</li>
                            <li>Free E-Certificate</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./ML Crash Course By google.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://developers.google.com/machine-learning/crash-course" target="_blank" id="l2">
                                Get
                                Started
                            </a>
                        </div>
                    </div>
                    <!-- CARD 5 ENDS -->
                    <!-- CARD 6 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>AI for Everyone by Deep Learning</h3>
                            <img src="./assets/ai_deep.jpg" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 1.5 M Views &nbsp; • &nbsp; 4 Modules
                        </p>
                        <ul>
                            <li>What is AI?</li>
                            <li>Building AI Project</li>
                            <li>Building AI In Your Company</li>
                            <li>AI in Society</li>
                            <li>Free E-Certificate</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./AI for everyone by deep learning .html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.deeplearning.ai/courses/ai-for-everyone/" target="_blank" id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 6 ENDS -->
                    <!-- CARD 7 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Intro to AI ML with Python</h3>
                            <img src="./assets/ai_harvard.jpg" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 299K Views &nbsp; • &nbsp; 7 Weeks
                        </p>
                        <ul>
                            <li>By Harvard Univeristy</li>
                            <li>Based on Projects</li>
                            <li>AI in Game Engines</li>
                            <li>Deep Algorithms Learning</li>
                            <li>Free E-Certificate</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./Intro To Ai with python.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://pll.harvard.edu/course/cs50s-introduction-artificial-intelligence-python" id="l2"
                               target="_blank">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 7 ENDS -->
                    <!-- CARD 8 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Introduction to Natural Language Processing</h3>
                            <img src="./assets/nlp.png" alt="" />
                        </div>
                        <p id="ref_data">
                            4.8 ⭐ &nbsp; • &nbsp; 37.5K Views &nbsp; • &nbsp; 6 Hours
                        </p>
                        <ul>
                            <li>What is NLP?</li>
                            <li>What is Data Processing?</li>
                            <li>What is Tokenization?</li>
                            <li>What is Stemming?</li>
                            <li>Free E-Certificate</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./Intro To NL processing.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://huggingface.co/learn/nlp-course/en/chapter1/1" target="_blank" id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 8 ENDS -->
                    <!-- CARD 9 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Builiding ChatBots with AI by IBM</h3>
                            <img src="./assets/ibm.jpg" alt="" />
                        </div>
                        <p id="ref_data">
                            4.9 ⭐ &nbsp; • &nbsp; 2M Views &nbsp; • &nbsp; 2 Levels
                        </p>
                        <ul>
                            <li>What are Chatbots?</li>
                            <li>How they work?</li>
                            <li>How to train them?</li>
                            <li>How to fetch dataset?</li>
                            <li>Includes Free E-Certificate</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./building chatbots by BM.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.ibm.com/training/badge/build-your-own-chatbot-level-1" target="_blank" id="l2">
                                Get
                                Started
                            </a>
                        </div>
                    </div>
                    <!-- CARD 9 ENDS -->
                </div>
                <!-- AI & Machine Learning Courses End -->
                <!-- data-science Courses -->
                <div id="data-science" class="courses">
                    <!-- CARD 1 STARTS-->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Intro to Data Science</h3>
                            <img src="./assets/intro-ds.png" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 50.4K Views &nbsp; • &nbsp; 1 Video
                        </p>
                        <ul>
                            <li>What and Why Data Science?</li>
                            <li> Life Cycle of Data</li>
                            <li>Basic idea of Distribution</li>
                            <li>A/B Testing</li>
                            <li>Includes Free E-Certificate</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./intro_to_data_sceince.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/introduction-to-data-science"
                               target="_blank" id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 1 ENDS -->
                    <!-- CARD 2 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Data Science Foundations</h3>
                            <img src="./assets/fund-ds.png" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 616K Views &nbsp; • &nbsp; 2 Videos
                        </p>
                        <ul>
                            <li>Introduction to Data Science</li>
                            <li>Data Science Life Cycle</li>
                            <li>Data Mining Tasks</li>
                            <li>Introduction to Machine Learning</li>
                            <li>Includes Free E-Certificate</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./intro_to_data_sceince.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/data-science-foundations"
                               target="_blank" id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 2 ENDS -->
                    <!-- CARD 3 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Data Science Complete</h3>
                            <img src="./assets/dbfull.jpg" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 4.2M Views &nbsp; • &nbsp; 10 Hours
                        </p>
                        <ul>
                            <li>What is Data Science?</li>
                            <li>Importance of Data Science</li>
                            <li>Data Science Life Cycle</li>
                            <li>Applications of Data Science</li>
                            <li>Skills and Tools</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./data_sceince_foundation.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.youtube.com/watch?v=-ETQ97mXXF0&pp=ygUdRGF0YSBTY2llbmNlIENvbXBsZXRlIEVEdXJha2E%3D"
                               target="_blank" id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 3 ENDS -->
                </div>
                <!-- data-science Courses End-->
                <!-- BlockChain Courses -->
                <div id="block-chain" class="courses">
                    <!-- CARD 1 STARTS-->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Introduction to BlockChain</h3>
                            <img src="./assets/block.jpg" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 4.1M Views &nbsp; • &nbsp; 1 Video
                        </p>
                        <ul>
                            <li>Data Science Life Cycle</li>
                            <li>Life Cycle Steps</li>
                            <li>Data Collection</li>
                            <li>Data Cleaning</li>
                            <li>Modeling & Evaluation</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./intro_to_blk_chain.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.youtube.com/watch?v=YJyXfjbBmc8&pp=ygUOYmxvY2tjYWluIGFwbmE%3D" target="_blank"
                               id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 1 ENDS -->
                    <!-- CARD 2 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Block Chain Roadmap</h3>
                            <img src="./assets/roadmap-block.jpg" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 1.4M Views &nbsp; • &nbsp; 1 Video
                        </p>
                        <ul>
                            <li>Application of Blockchain Dev/li>
                            <li>Languages to Learn</li>
                            <li>Tools & Technologies to Learn</li>
                            <li>Salary Packages</li>
                            <li>What are Smart Contracts?</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./How to become a Blockchain.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.youtube.com/watch?v=uULy2rc6YDc&t=78s&pp=ygUOYmxvY2tjYWluIGFwbmE%3D"
                               target="_blank" id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 2 ENDS -->
                    <!-- CARD 3 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Complete BlockChain Course</h3>
                            <img src="./assets/b-12.jpg" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 2M Views &nbsp; • &nbsp; 12 Hours
                        </p>
                        <ul>
                            <li>Blockchain Basics</li>
                            <li>Smart Contracts & DApps</li>
                            <li>Cryptography & Security</li>
                            <li>Blockchain Platforms</li>
                            <li>Consensus Algorithms</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./How to become a Blockchain.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.youtube.com/watch?v=jcgfQEbptdo&pp=ygUgQ29tcGxldGUgQmxvY2tDaGFpbiBDb3Vyc2UgMTIgaHI%3D"
                               target="_blank" id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 3 ENDS -->
                </div>
                <!-- BlockChain Courses Ends -->
                <!-- Cyber Security Courses -->
                <div id="cyber-security" class="courses">
                    <!-- CARD 1 STARTS-->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Intro to Cyber Security by Cisco</h3>
                            <img src="./assets/cisco.png" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 3M Views &nbsp; • &nbsp; 6 Hours
                        </p>
                        <ul>
                            <li>What is Cybersecurity?</li>
                            <li>Types of Cyber Threats</li>
                            <li>Cybersecurity Principles</li>
                            <li>Network Security Basics</li>
                            <li>Includes Free E-Certificate</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./intro to_cyber_sec_by_cisco.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.netacad.com/courses/introduction-to-cybersecurity" target="_blank" id="l2">
                                Get
                                Started
                            </a>
                        </div>
                    </div>
                    <!-- CARD 1 ENDS -->
                    <!-- CARD 2 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Cyber Security Full Roadmap</h3>
                            <img src="./assets/cyber.jpg" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 1M Views &nbsp; • &nbsp; 1 Video
                        </p>
                        <ul>
                            <li>Introduction to Cybersecurity</li>
                            <li>Skills & Certifications</li>
                            <li>Cybersecurity Roles</li>
                            <li>Career Path</li>
                            <li>Cybersecurity Trends</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./cyber_sec_roadmap_appnacllg.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.youtube.com/watch?v=vK4Mno4QYqk&pp=ygUgQ3liZXIgU2VjdXJpdHkgRnVsbCBSb2FkbWFwIGFwbmE%3D"
                               target="_blank" id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 2 ENDS -->
                    <!-- CARD 3 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Cyber Security Crash Course</h3>
                            <img src="./assets/cs8.jpg" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 450K Views &nbsp; • &nbsp; 8 Hours
                        </p>
                        <ul>
                            <li>Cybersecurity Concepts</li>
                            <li>Common Threats</li>
                            <li>Network Security</li>
                            <li>Cryptography</li>
                            <li>Cyber Defense Practices</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./cyber_secrutiybyedureka.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.youtube.com/watch?v=nzZkKoREEGo&list=PL9ooVrP1hQOGPQVeapGsJCktzIO4DtI4_&index=2"
                               target="_blank" id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 3 ENDS -->
                </div>
                <!-- Cyber Security Courses Ends-->
                <!-- WEB DEVELOPEMENT SECTION  -->
                <div id="web-dev" class="courses">
                    <!-- CARD 1 STARTS-->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Intro to HTML & CSS</h3>
                            <img src="./assets/html css.png" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 450K Views &nbsp; • &nbsp; 3 Hours
                        </p>
                        <ul>
                            <li>Introduction to HTML</li>
                            <li>HTML Structure & Elements</li>
                            <li>Forms & Input Elements</li>
                            <li>CSS Features</li>
                            <li>Includes Free E-Certificate</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./web_dev_res.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.mygreatlearning.com/html/free-courses" target="_blank" id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 1 ENDS -->
                    <!-- CARD 2 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Intro to JavaScript Beginner</h3>
                            <img src="./assets/html css.png" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 400K Views &nbsp; • &nbsp; 2 Videos
                        </p>
                        <ul>
                            <li>Introduction to JavaScript</li>
                            <li>Variables & Data Types</li>
                            <li>Control Flow & Loops</li>
                            <li>Functions & Scope</li>
                            <li>Objects & Arrays</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./web_dev_res.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.mygreatlearning.com/javascript/free-courses" target="_blank" id="l2">
                                Get
                                Started
                            </a>
                        </div>
                    </div>
                    <!-- CARD 2 ENDS -->
                    <!-- CARD 3 STARTS -->
                    <div class="course-card">
                        <div class="dd-flex">
                            <h3>Complete Website Development Course</h3>
                            <img src="./assets/sigma.jpg" alt="" />
                        </div>
                        <p id="ref_data">
                            4.5 ⭐ &nbsp; • &nbsp; 5M Views &nbsp; • &nbsp; 139 Videos
                        </p>
                        <ul>
                            <li>Introduction to Web Development</li>
                            <li>Frontend Development</li>
                            <li>Backend Development</li>
                            <li>Database Integration</li>
                        </ul>
                        <div class="sep_line"></div>
                        <div class="btn">
                            <!-- <button class="btn3">Resources</button> -->
                            <a href="./web_dev_res.html" id="l1">Free Resources</a>
                            <div class="sep"></div>
                            <!-- <button class="btn4">Get Started</button> -->
                            <a href="https://www.youtube.com/watch?v=tVzUXW6siu0&list=PLu0W_9lII9agq5TrH9XLIKQvv0iaF2X3w"
                               target="_blank" id="l2">Get Started</a>
                        </div>
                    </div>
                    <!-- CARD 3 ENDS -->
                    <!-- WEB DEVELOPEMENT SECTION  ENDS-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Trend Skills Ends -->
<!-- Sponsorship Starts -->
<section>
    <div class="s_container">
        <div class="s_main">
            <div class="s_img">
                <img src="./assets/classroom.png" width="353px" height="auto" alt="Classroom" />
            </div>
            <div class="s_text">
                <div class="s_head">
                    <h2>
                        Want to upgrade your Skills? <br />
                        Learn them in person!
                    </h2>
                </div>
                <div class="s_sep"></div>
                <div class="s_desp">
                    <p>
                        Take your learning experience to the next level! Join in-person
                        training sessions to gain hands-on knowledge and practical
                        expertise in digital skills. With face-to-face interaction,
                        you'll unlock a deeper understanding and faster growth.
                    </p>
                </div>
                <div class="s_partner">
                    <p>In Collab with</p>
                    <img src="./assets/asrlearning.png" width="157px" alt="" />
                </div>
            </div>
        </div>
        <div class="s_btn">
            <button onclick="window.open('https://asrlearning.com', '_blank');">Register Now</button>
        </div>
    </div>
</section>
<!-- Sponsorship Ends -->
<!-- Reviews -->
<section>
    <div class="r_container">
        <div class="r_head">
            <h2>Our Worthy <span id="r_review">Reviews</span></h2>
        </div>
        <div class="r_cards">
            <div class="r_card1">
                <div class="r_img">
                    <img src="./assets/reviewpic.png" alt="" />
                </div>
                <div class="r_text">
                    <p>
                        Thanks to their expert instructors, I landed my dream job in
                        digital marketing. Highly recommend!
                    </p>
                </div>
                <div class="r_stars">
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
            </div>
            <div class="r_card2">
                <div class="r_img">
                    <img src="./assets/elon.jpeg" alt="" />
                </div>
                <div class="r_text">
                    <p>
                        Thanks to their expert instructors, I landed my dream job in
                        digital marketing. Highly recommend!
                    </p>
                </div>
                <div class="r_stars">
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
            </div>
            <div class="r_card2">
                <div class="r_img">
                    <img src="./assets/jef.jpg" alt="" />
                </div>
                <div class="r_text">
                    <p>
                        Thanks to their expert instructors, I landed my dream job in
                        digital marketing. Highly recommend!
                    </p>
                </div>
                <div class="r_stars">
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review Ends -->
<!-- Footer -->
<footer class="footer">
    <div class="footer-grid">
        <div class="footer-column">
            <h3>About Us</h3>
            <p>
                Open Skills Source offers a wealth of free resources and curated
                courses to fuel your growth. Explore personalized recommendations to
                help you achieve your goals and unlock your potential.
            </p>
        </div>
        <div class="footer-column">
            <h3>Quick Links</h3>
            <a href="./explore_skills.html" ">Explore Skills</a><br />
            <a href=" ./helpfromai.html">Help from AI</a><br />
            <a href="./about-us.html">About Us</a> <br>
            <a href="./contact-us.html">Contact Us</a>
        </div>
        <div class="footer-column">
            <h3>Top Skills</h3>
            <a href="./explore_skills.html">AL & ML</a><br />
            <a href="./explore_skills.html">Block Chain</a><br />
            <a href="./explore_skills.html">Cyber Security</a><br />
            <a href="./explore_skills.html">Web Development</a>
        </div>
        <div class="footer-column">
            <h3>Contact Us</h3>
            <p>Email: info@openskillssource.com</p>
            <p>Phone: +123 456 7890</p>
            <p>Address: Punjab, Pakistan</p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 OpenSkillsSource | All Rights Reserved.
    </div>
</footer>
<script src="~/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<!-- Footer Ends -->
